:root {
  --ifm-color-primary: #1769aa;
  --ifm-color-primary-dark: #145f99;
  --ifm-color-primary-darker: #135a91;
  --ifm-color-primary-darkest: #0f4a77;
  --ifm-color-primary-light: #1a73bb;
  --ifm-color-primary-lighter: #1b78c3;
  --ifm-color-primary-lightest: #2388db;
  --ifm-font-family-base: Inter, 'Noto Sans SC', system-ui, sans-serif;
  --ifm-heading-font-family: var(--ifm-font-family-base);
}
[data-theme='dark'] {
  --ifm-color-primary: #60a5fa;
}
.navbar {
  box-shadow: 0 1px 0 var(--ifm-color-emphasis-200);
}
.main-wrapper main {
  padding: 1rem;
}
.theme-doc-markdown {
  font-size: 16px;
  line-height: 1.8;
}
.theme-doc-markdown table {
  display: table;
  width: 100%;
}
